@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #f6f6f6;
}

.tituloDestaque {
    color: #4e8b98;
}

.menu{
    margin: 15% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuTexto{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap:40px;

    
}

.menuTextoTitulo{
    font-size: 36px;
    font-family: "Krona One", serif;
}

.menuTextoParagrafo{
    font-size: 24px;
    font-family: "Montserrat", serif;
}

.menuBotoes{
    display: flex;
    justify-content: space-between;
}

.estiloBotoes{
    background-color: #22d4fd ;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color:black;
    font-family: "Montserrat", serif;
    font-style: italic;
}

.imagemMenu{
    width: 600px;
    height: 500px;
    border-radius: 20px;
}
