@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');


:root{
    --cor-primaria: #000000;
    --cor-segundaria: #f6f6f6;
    --cor-tercearia: #22d4fd;
    --cor-hover: #272727;

    --font-titulos: "Krona One", serif;
    --font-paragrafos: "Montserrat", serif;
}
*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-segundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho-nav{
    display: flex;
    gap: 80px;

}

.cabecalho-link{
    font-family: var(--font-paragrafos);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-tercearia);
    text-decoration: none;
}

.tituloDestaque {
    color: var(--cor-tercearia);
}

.menu{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuTexto{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap:40px;

    
}

.menuTextoTitulo{
    font-size: 36px;
    font-family: var(--font-titulos);
}

.menuTextoParagrafo{
    font-size: 24px;
    font-family: var(--font-paragrafos);
}

.menuBotoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:32px;
}

.botaoSubtitulo{
    font-family:var(--font-titulos);
    font-weight: 400px;
    font-size: 24px;
    
}

.estiloBotoes{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-tercearia);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color:#f6f6f6;
    font-family: var(--font-paragrafos);
    font-style: italic;
}

.estiloBotoes:hover{
    background-color: var(--cor-hover);
}

.imagemMenu{
    width: 600px;
    height: 500px;
    border-radius: 20px;
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-tercearia);
    padding: 24px;
    text-align: center;
    font-family: var(--font-paragrafos);
    font-size: 24px;
}

